<mat-toolbar color=primary>My App</mat-toolbar>


<div class="card">
  <div class="input-tab">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Git id"  [(ngModel)]="data" >
    <mat-spinner [diameter]="25" *ngIf=spinner></mat-spinner>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)='getUser()'>find me</button>
  </div>

<div *ngIf=err> 
    <mat-card class="example-card">no data
      </mat-card>
    </div>
  
  <div *ngIf=response>
      
      <mat-card class="example-card">
    <mat-card-header >
    <mat-card-title>{{response.name}}</mat-card-title>
    <mat-card-subtitle>{{response.location}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src={{response.avatar_url}} alt="no image">
  <mat-card-content>
    <a href="{{response.html_url}}"> {{response.html_url}}</a> 
  </mat-card-content>
</mat-card>
</div>

</div>
